input {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: #284b63;
    border: 2px solid black;
    color: #ffffff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator-container {
    padding: 20px;
    display: inline-block;
    background-color: #244359;
    border: 2px solid black;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
}

#display-area {
    width: 300px;
    height: 100px;
    padding: 25px;
    font-size: 45px;
    margin: 10px;
    text-align: right;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: #284b63;
    border: 2px solid black;
    border-radius: 10px;
}

.clear {
    width: 165px;
    height: 70px;
}

.presolution {
    overflow-x: auto;
    color: white;
    height: 45%;
    margin-top: 5%;
}

.postsolution {
    overflow-x: auto;
    height: 45%;
    margin-bottom: 5%;
}

.operators {
    background-color: #1d3547;
}